[data-theme='novari'] {
    /* button */
    /* --ac-button-tertiary-hover-bg: var(--a-lightblue-800); */
    /*--ac-button-primary-text: #FF0000;*/
    --ac-button-primary-active-bg: var(--a-gray-50);
    --ac-button-tertiary-active-bg: var(--a-lightblue-900);
    --ac-button-tertiary-active-hover-bg: var(--a-lightblue-900);
    --a-bg-subtle: #F8EBDB;
}

