[data-theme='novari'] {
    /* novari logo color: #F76650*/
    /* button */
    /* --ac-button-tertiary-hover-bg: var(--a-lightblue-800); */
    /*--ac-button-primary-text: #FF0000;*/
    --ac-button-primary-active-bg: var(--a-gray-50);
    --ac-button-tertiary-active-bg: var(--a-lightblue-900);
    --ac-button-tertiary-active-hover-bg: var(--a-lightblue-900);
    --a-bg-subtle: #F8EBDB;
    --ac-button-primary-bg: #448086;
    --ac-button-primary-hover-bg: #AB5692;

    .my-custom-panel {
        background-color: #f3f4f6; /* Light gray background */
        padding: 36px 16px 36px 16px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        transition: background-color 0.3s ease; /* Smooth background transition */
    }

    /* Styles for the title within the panel */
    .panel-title {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        margin: 0;
    }

    /* Icon styles */
    .panel-icon {
        margin-right: 16px;
        font-size: 24px;
        color: #d2452c; /* NAV blue */
        transition: transform 0.3s ease; /* Smooth scaling transition */
    }

    /* Description styles */
    .panel-description {
        margin-top: 4px;
        font-size: 16px;
        color: #3e3832;
    }

    /* Hover effect */
    .my-custom-panel:hover {
        background-color: #F8EBDB; /* Darker gray background on hover */
    }

    .my-custom-panel:hover .panel-icon {
        transform: scale(1.7); /* Enlarge the icon on hover */
    }


}

