name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

#      - name: Cypress run
#        uses: cypress-io/github-action@v6
#        env:
#          CYPRESS_TESTS: true
#        with:
#          start: npm start
#          wait-on: "http://localhost:3000"

      - name: Build
        run: npm run build